.trip-card {
  position: relative;
  max-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  box-shadow: var(--shadow-ex-large);
  padding: 2rem;
  border-radius: 7px;
  margin-bottom: 12.8rem;
}

.trip-card-profile {
  position: absolute;
  top: -5.5rem;
  left: -1rem;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 0.5rem;
  z-index: 2;
  cursor: pointer;
  background-color: var(--background-light-blu);
  padding-left: 1rem;
  padding-right: 1rem;
}

.profile-name {
  color: var(--text-primary);
  font-size: 1.4rem;
}

.user-profile {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  box-shadow: var(--shadow-large);
  object-fit: cover;
  object-position: center;
}

.trip-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.trip-description {
  text-align: start;
  font-size: 1.6rem;
  max-height: 20rem;
  line-height: 1.7;
  letter-spacing: 0.1px;
  margin-bottom: 2rem;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

&::-webkit-scrollbar {
  display: none;
}

.icons {
  position: absolute;
  bottom: -2.1rem;
  left: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 2rem;
  border-radius: 7px;
  background-color: var(--background-light-blu);
  box-shadow: var(--shadow-large);
  cursor: pointer;
  transition: all 0.4s;
}

.icons:hover {
  box-shadow: var(--shadow-small-or);
}

.icons .icon {
  height: 3rem;
  width: 3rem;
  color: var(--tag-bg);
  transition: all 0.4s;
}

.icons .icon:hover {
  color: var(--button-cta-bg-hover);
}

.icon.false {
  color: var(--button-primary-text);
}

.icon.true {
  fill: var(--tag-bg);
}

.coments-and-likes-details {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: var(--text-secondary);
  gap: 2rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}

/*480*/
@media (max-width: 30em) {
  .trip-card {
    margin-bottom: 12rem;
  }

  .trip-card-profile {
    top: -5.6rem;
    left: -1.1rem;
    /* background-color: #0d4e79; */
  }

  .icons {
    /* background-color: #0d4e79; */
  }

  .trip-description {
    text-align: start;
    font-size: 1.6rem;
    max-height: 20rem;
    line-height: 1.6;
    letter-spacing: 0.1px;
    margin-bottom: 2rem;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .trip-card-share-buttons {
    position: absolute;
    top: 1.5rem;
    left: 12.2rem;
    z-index: -1;
  }
}
