.main-page {
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12.8rem;
  background-color: var(--background-light-blu);
}
