.personal-area-section.form-container {
  padding: 4rem 2rem;
  width: 30rem;
}
.personal-area-section .form-title {
  margin-bottom: 4rem;
}
.personal-area-section .profile-name {
  margin-bottom: 3rem;
}

.btn-m.delete-btn {
  font-size: 1.2rem;
  background-color: var(--error-bg);
  color: var(--text-secondary);
}

.btn-m.delete-btn:hover {
  font-size: 1.2rem;
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-text);
}
