.create-trip-section {
  margin-top: 16rem;
  padding-bottom: 9.6rem;
  position: relative;
}

.update-trip-description::placeholder {
  color: #fff;
}

.text-area {
  position: relative;
}

.day-num {
  color: var(--primary-text);
  font-size: 1.8rem;
  font-weight: 500;
}

.submit-trip-btn {
  margin-bottom: 3rem;
}
