.places-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 3rem;
}

.places-list-item {
  width: 100%;
}

/* 784 */
@media (max-width: 49em) {
  .places-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style-type: none;
    padding: 1rem 6rem;
  }
}

/* 480 */
@media (max-width: 30em) {
  .places-list {
    padding: 1rem 2.2rem;
  }
}

/* 320 */
@media (max-width: 20em) {
  .places-list {
    padding: 1rem 1.8rem;
  }
}
