.profile-container {
  padding: 2rem;
  border-radius: 10px;
  width: 35rem;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 3rem;
  box-shadow: var(--shadow-large);
  background-color: var(--card-background);
  /* margin-bottom: 2rem; */
}

.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.form-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-secondary);
}

.profile-close-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  cursor: pointer;
}

.form-image-profile {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.register-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffffff;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.6rem;
  font-weight: 500;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-row .form-group {
  flex-basis: 48%;
}

/*344*/
@media (max-width: 21.5em) {
}
