.trip-form-section {
  margin-bottom: 2rem;
}

.trip-form-section .profile-container {
  margin-top: -2rem;
  padding-bottom: 1rem;
}

.dropdown {
  max-height: 14rem;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
  z-index: 1000;
  width: 83%;
  border-radius: 5px;
  display: flex;
  align-items: self-start;
  justify-content: center;
  flex-direction: column;
  padding-top: 1.6rem;
}

.dropdown-item {
  padding: 1rem;
  font-size: 1.2rem;
  width: 100%;
  cursor: pointer;
  color: var(--text-primary);
}

.dropdown-item:hover,
.dropdown-item.selected {
  background-color: var(--button-cta-bg-hover);
}

.dropdown.dropdown-ltr {
  direction: ltr;
  text-align: left;
}

.dropdown.dropdown-rtl {
  direction: rtl;
  text-align: right;
}

/*480*/
@media (max-width: 30em) {
  .trip-form-section .profile-container {
    margin-top: 0rem;
    padding-bottom: 3rem;
  }
}
