.main-page-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--navbar-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem 2rem;
  font-weight: 600;
  z-index: 1000;
}

h1.logo {
  font-size: 3.6rem;
  margin: 0;
  color: var(--text-secondary);
}

.user-main-page-img {
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.menu-item {
  font-size: 1.8rem;
  color: var(--text-secondary);
  cursor: pointer;
  transition: all 0.4s ease;
}

.menu-item:hover {
  color: var(--accent-orange);
}

/*880*/
@media (max-width: 55em) {
  .menu-item.connectet-menu {
    display: none;
  }
  h1.logo {
    font-size: 3.2rem;
  }
}

/*480*/
@media (max-width: 30em) {
  h1.logo {
    font-size: 2.2rem;
  }
}

/*344*/
@media (max-width: 21.5em) {
  .main-page-header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  h1.logo {
    font-size: 2rem;
  }
}
