.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 1.8rem 12.8rem;
  background-color: var(--background-light-blu);
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.description-container {
  grid-column: 1/2;
  grid-row: 1;
  align-self: center;
  /* margin-top: 5rem; */
}

.hero-section h1 {
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  color: var(--text-primary);
  text-align: start;
  margin-bottom: 1rem;
}

.hero-section p {
  font-size: 2.2rem;
  color: var(--button-cta-text);
  text-align: start;
  line-height: 1.6;
  letter-spacing: 0.7px;
}

.hero-section .btn-cta-exl {
  justify-self: center;
  align-self: flex-start;
  grid-row: 2;
  grid-column: 1/-1;
}

.hero-section .btn-hero {
  justify-self: center;
  align-self: flex-start;
  grid-row: 2;
  grid-column: 1/-1;
  background-color: #00796b; /* ירוק כהה שמתאים לצבעים של האתר */
  color: #fff; /* צבע טקסט לבן */
  padding: 15px 25px; /* שוליים פנימיים */
  border: none; /* בלי מסגרת */
  border-radius: 10px; /* פינות עגולות */
  font-size: 1.2rem; /* גודל טקסט */
  font-weight: bold; /* טקסט מודגש */
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* צל עדין */
}

.earth-container {
  width: 20rem;
  height: 20rem;
  grid-row: 1;
  grid-column: 2/-1;
  justify-self: center;
  align-self: center;
  /* margin-top: 5rem; */
}

.earth-image {
  width: 100%;
  height: 100%;
  animation: rotateEarth 50s linear infinite;
  border-radius: 50%;
  opacity: 0.8;
  box-shadow: var(--shadow-ex-large);
}

@keyframes rotateEarth {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*896*/
@media (max-width: 56em) {
  .hero-section {
    padding: 0rem 4rem;
  }

  .hero-section h1 {
    font-size: 3.8rem;
  }

  .hero-section p {
    font-size: 1.8rem;
  }
  .earth-container {
    width: 15rem;
    height: 15rem;
  }
}

/*480*/
@media (max-width: 30em) {
  .hero-section {
    position: relative;
    grid-template-columns: 1fr;
    padding: 0rem 3rem;
    /* margin-top: 4rem; */
  }

  .description-container {
    margin-top: 0rem;
  }

  .description-container {
    grid-column: 1/-1;
    grid-row: 2;
    align-self: flex-start;
  }

  .earth-container {
    grid-column: 1 / -1;
    grid-row: 1;
    width: 15rem;
    height: 15rem;
    margin-top: 0rem;
  }

  .hero-section h1 {
    font-size: 3.8rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .hero-section p {
    font-size: 1.8rem;
    text-align: center;
  }

  .hero-section .btn-cta-exl {
    justify-self: center;
    align-self: flex-start;
    grid-row: 4;
    grid-column: 1/-1;
  }
}

/*320*/
@media (max-width: 20em) {
  .hero-section {
    padding: 1rem 1rem;
  }

  .hero-section h1 {
    font-size: 3rem;
  }

  .hero-section p {
    font-size: 1.6rem;
  }
}
