.buttons-box p {
  font-size: 1.6rem;
  color: var(--text-secondary);
}

.google-login-section {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--text-secondary);
  height: 2px;
  width: 150%;
}

.forgot-password {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--text-secondary);
  transition: all 0.3s;
}

.forgot-password:hover {
  color: var(--text-prymary);
}

@media (max-width: 30em) {
  .btn-login.btn-l {
    width: 100%;
  }
}

/* 320 */
@media (max-width: 20em) {
  .google-login-section {
    width: 110%;
  }
}
