/*************************
 # FLEX-BOX TYPES
**************************/

.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center-gap-s {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.flex-center-gap-l {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-stretch-column-gap {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.flex-center-column-gap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.flex-center-column-large-gap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

/*************************
# BUTTON-TYPES
**************************/
.btn-container-gap-m {
  display: flex;
  gap: 1rem;
}

.btn-cta-exl,
.btn-exl {
  font-size: 2rem;
  border-radius: 7px;
  box-shadow: var(--shadow-large);
  padding: 1rem 4rem;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
}

.btn-cta-exl {
  background-color: var(--button-hover-bg-primary);
  color: var(--text-secondary);
}

.btn-el:hover {
  background-color: var(--hover-effect);
  color: var(--button-hover-text-color);
}

.btn-cta-m,
.btn-m,
.btn-cta-l,
.btn-l {
  font-size: 1.6rem;
  padding: 8px 8px;
  width: 20rem;
  border-radius: 9px;
  background-color: var(--button-primary-bg);
  color: var(--text-primary);
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.4s;
}

.btn-cta-m,
.btn-m {
  padding: 0.6rem;
  width: 10rem;
  border-radius: 6px;
  font-weight: 400;
}

.btn-cta-s {
  font-size: 1.6rem;
  padding: 0.5rem 0.6rem;
  border-radius: 5px;
  background-color: var(--button-primary-bg);
  color: var(--text-secondary);
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.4s;
}

.btn-m:hover,
.btn-l:hover {
  background: var(--hover-effect);
  color: var(--button-secondary-text);
  transition: all 0.4s;
}

.btn-cta-l,
.btn-cta-m,
.btn-cta-s {
  background-color: var(--button-cta-bg);
  color: var(--text-primary);
}

.btn-cta-exl:hover,
.btn-cta-l:hover,
.btn-cta-m:hover,
.btn-cta-s:hover {
  background-color: var(--button-cta-bg-hover);
  color: var(--button-secondary-text);
}

.mode-btn-left {
  position: absolute;
  top: 1rem;
  left: 1.4rem;
}
.mode-btn-right {
  position: absolute;
  top: 1rem;
  right: 1.4rem;
}

/*************************
# INPUT-TYPES
**************************/
input {
  border-radius: 7px;
  height: 4rem;
  width: 100%;
  padding: 7px;
  border: none;
  background-color: #e0f2fe;
}

input:focus {
  outline: none;
}

.error-message,
.text-danger {
  color: #b72727;
  text-align: start;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.error-message {
  margin-top: 5px;
}

/*************************
# ICONS
**************************/

.icon {
  height: 3rem;
  width: 3rem;
  color: var(--tag-bg);
  cursor: pointer;
  transition: all 0.4s;
}

.icon:hover {
  color: var(--button-cta-bg-hover);
}

.drop-list-icon {
  width: 1.8rem;
  height: 1.8rem;
}

.add-image-icon {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.waze-icon {
  width: 3rem;
  height: 3rem;
  fill: #082f49;
  cursor: pointer;
}

.Google-maps-icon {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.hidden {
  display: none;
}

/*640*/
@media (max-width: 40em) {
  .mode-btn-left {
    position: absolute;
    top: -4.6rem;
    left: 0;
  }
  .mode-btn-right {
    position: absolute;
    top: -4.6rem;
    right: 0;
  }
}

/*480*/
@media (max-width: 30em) {
  .btn-cta-l,
  .btn-cta-m .btn-m,
  .btn-l {
    width: 14rem;
    border-radius: 7px;
  }

  .btn-el {
    font-size: 1.8rem;
    padding: 9px 0px;
    width: 15rem;
    border-radius: 7px;
  }
}
