* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ///////////////////////////////////////////////////////// */

:root {
  /* צבעים ראשיים */
  --primary-teal: #219ebc; /* כחול-ירקרק - כותרות וכפתורים ראשיים */
  --accent-orange: #ff7043; /* כתום חם - קריאות לפעולה */
  --secondary-green: #4caf50; /* ירוק בינוני - כפתורים משניים והדגשות */
  --background-light-blu: #8ecae6; /* אפור בהיר מאוד - רקע כללי */
  --card-background: #219ebc; /* לבן - רקע לכרטיסיות */

  /* צבעים לטקסט */
  --text-primary: #001a27;
  --text-secondary: #ffffff;
  --text-muted: #78909c; /* טקסט מופחת */
  --text-highlight: #01295c; /* טקסט להדגשה - כחול-ירקרק */

  /* צבעים לכפתורים */
  --button-cta-bg: #fa9419; /* רקע כפתור ראשי - כתום חם */
  --button-cta-bg-hover: #f1b688; /* רקע כפתור ראשי - כתום חם */
  --button-cta-text: #414141; /* טקסט כפתור ראשי - לבן */
  --button-primary-bg: #ffff; /* טקסט כפתור ראשי - לבן */
  --button-primary-bg-hover: #ec8305; /* טקסט כפתור ראשי - לבן */
  --button-secondary-bg: #ffff; /* רקע כפתור משני - ירוק בינוני */
  --button-secondary-text: #001a27; /* טקסט כפתור משני - לבן */
  --button-hover-bg-primary: #e64a19; /* רקע כפתור ראשי בריחוף - כתום כהה */
  --button-hover-bg-secondary: #388e3c; /* רקע כפתור משני בריחוף - ירוק כהה */

  /* צבעים לתגים */
  --tag-bg: #ec8305; /* רקע תג*/
  --tag-mobile-bg: #ec8305; /* רקע תג*/
  --tag-text: #353535; /* רקע תג*/

  /* צבעים לתפריטים */
  --navbar-bg: #008080; /* רקע תפריט ניווט */
  --navbar-text: #ffffff; /* טקסט תפריט ניווט */

  /* צבעים לגבולות והפרדות */
  --border-color: #e0e0e0; /* גבולות כלליים */
  --card-border: #b0bec5; /* גבול כרטיסיות */

  /* צבעים להודעות מערכת */
  --success-bg: #4caf50; /* הודעות הצלחה */
  --error-bg: #b8001f; /* הודעות שגיאה */
  --warning-bg: #ffb300; /* הודעות אזהרה */
  --info-bg: #0288d1; /* הודעות מידע */

  /* ריחוף ואפקטים */
  --hover-effect: rgba(255, 122, 13, 0.922); /* אפקט ריחוף כללי */
  --shadow-small-or: 0 2px 4px rgba(236, 107, 8, 0.356); /* צל קטן */
  --shadow-small: 0 2px 4px rgba(0, 0, 0, 0.1); /* צל קטן */
  --shadow-large: 0 4px 8px rgba(0, 0, 0, 0.2); /* צל גדול */
  --shadow-ex-large: 0.4px 3.4px 6.8px rgba(0.9, 1.3, 1.3, 0.5); /*  צל גדול מאוד */

  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* General settings and base colors */
  line-height: 1;
  overflow-x: hidden;
  height: 100%;
}

/* ////////////////////////////////////////////////////////// */

html {
  font-size: 62.5%;
  overflow-x: hidden;
  width: auto;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  margin: 0;
  height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-light-blu);
  color: var(--text-primary);
  overflow-x: hidden;
}

.main-section {
  padding-top: 12rem;
}

.section {
  padding-left: 3rem;
  padding-right: 3rem;
}

h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
  color: var(--text-primary);
  font-weight: 600;
}

p {
  font-size: 1.8rem;
  color: var(--text-primary);
  font-weight: 500;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}

a {
  cursor: pointer;
}

/*2608*/
@media (max-width: 163em) {
  html {
    font-size: 110%;
  }
}

/*1600*/
@media (max-width: 100em) {
  html {
    font-size: 62.5%;
  }
}

/*1024*/
@media (max-width: 64em) {
  html {
    font-size: 57.5%;
  }

  .main-section {
    padding-top: 14rem;
  }
}

/*640*/
@media (max-width: 40em) {
  html {
    font-size: 55%;
  }

  .main-section {
    padding-top: 14rem;
  }
}

/*480*/
@media (max-width: 30em) {
  html {
    font-size: 50%;
  }

  body {
    background-color: var(--background-light-blu);
    height: 90vh;
  }

  .section {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .main-section {
    padding-top: 23rem;
  }
}
