.place-card {
  border-radius: 12px;
  padding: 1.5rem;
  width: 100%;
  margin: 1.5rem;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: var(--shadow-ex-large);
  color: var(--text-primary);
}

.place-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.place-header {
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 2rem;
}

.place-name {
  font-size: 2.2rem;
  color: var(--text-primary);
  color: var(--text-highlight);
  margin-bottom: 1.4rem;
}

.place-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem 2rem;
  margin-bottom: 4rem;
  gap: 2rem;
}

.detaile-item {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  width: 100%;
}

.detaile-item a {
  text-align: start;
}

.icon-search {
  margin-left: 0.5rem;
  font-size: 1.8rem;
  height: 3rem;
  width: 3rem;
  color: var(--button-hover-bg-primary);
}

.icon-search:hover {
  color: var(--button-cta-bg);
}

.nav-icons {
  padding: 1rem 2rem;
  background-color: var(--button-primary-bg);
  color: var(--text-primary);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2rem;
}
