.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 40rem;
  border-radius: 8px;
  z-index: 15;
  padding: 2rem;
  margin-top: 5rem;
  box-shadow: var(--shadow-large);
  background-color: var(--card-background);
}

.form-image-profile {
  position: relative;
}

.form-input-box {
  width: 100%;
  direction: ltr;
  position: relative;
}

.form-input-box .text-danger {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
}

.register-img {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: center;
}

.form-title {
  font-size: 2rem;
  text-align: center;
  color: var(--text-secondary);
  margin-bottom: 3rem;
}

.icon-select-img > .icons-descripton-trip {
  fill: #fff;
}

.form-close-icon {
  padding: 1rem;
  position: absolute;
  top: -0.6rem;
  right: -0.4rem;
  cursor: pointer;
}

.text-success {
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.4;
}

.forgot-password:hover {
  color: var(--text-secondary);
}

/* 480 */
@media (max-width: 30em) {
  .form-container {
    top: 43%;
  }
}

/* 320 */
@media (max-width: 20em) {
  .form-container {
    width: 30rem;
  }
}
